.btn
{
    /* text-align: center; */
    font-size: large;
    border-radius: 60px;
    background-color: #4CAF50;
    /* border: none; */
    color: white;
    padding: 10px 32px;
    margin-left: 10px;
    margin-top: 7px;
    text-decoration: none;
    /* display: inline-block; */
    border: 2px solid #000000;
}
.body {
    font-family: 'Myriad-Pro', 'myriad', helvetica, arial, sans-serif;
    text-align: center;
}
h2 {
    color: #a32231!important;
    text-align: center;
    text-shadow:5px #000000;
}
.lab
{
    font-family: 'Myriad-Pro', 'myriad', helvetica, arial, sans-serif;
    text-align:auto;
    font-size: larger;
    color: rgb(131, 29, 29);
    
}
.inp{
    text-align: left;
    font-size: large;
    
}
.contact
{
    width: 600px;
    border: 4px solid rgb(29, 54, 192);
    padding-right: 150px;
    margin: 100  px;

 
  /* Create four equal columns that floats next to each other */

    /* box-sizing: border-box; */
 
    float: left;
    /* width: 50%; */
    padding: 10px;
    /* height: 300px; Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* #map {
    padding: 10px;
    margin: 0;
       width: 50%;
       height: 100px;
  }
   */
  